<app-block-header [blockHeader]="rpcBlock?.header"></app-block-header>

<p-treeTable [value]="bla">

  <ng-template pTemplate="header">
    <tr>
      <td>Round</td>
      <td>Validator</td>
      <td>Timestamp</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
      </td>
      <td>{{ rowData.validator }}</td>
      <td>{{ rowData.timestamp }}</td>
    </tr>
  </ng-template>
</p-treeTable>

