<app-block-header [blockHeader]="rpcBlock?.header"></app-block-header>

<input pInputText [(ngModel)]="inputBlockHeight" [placeholder]='9727991'>
<p-button label=">" (onClick)="loadBlockHeight()"></p-button>
<p-treeTable [value]="treeTableValue" [columns]="cols" (onNodeExpand)="onNodeExpand($event)">

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
        {{ col.header }}
        <p-treeTableSortIcon [field]="col.field"></p-treeTableSortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">No Data found</ng-template>

  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
    <tr [ttRow]="rowNode">
      <td *ngFor="let col of columns; let i = index">
        <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
        <div *ngIf="!col.type">
          {{ rowData[col.field] }}
        </div>
        <div *ngIf="col.type&&rowData[col.field]">
          <p-tag [value]="rowData[col.field]" [severity]="getSeverity(rowData[col.field])"></p-tag>
        </div>
      </td>
    </tr>
  </ng-template>
</p-treeTable>

